# Large Archives & Datasets
*.zip
*.tar.gz
*.tar
*.rar
*.7z
archive/

# MATLAB files
*.asv
*.m~
*.slxc
slprj/
*.autosave

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
